@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

@layer base {
    h1 {
        @apply text-2xl;
        font-weight: bold;
        color: #008b8b;
    }
    h2 {
        @apply text-xl;
        font-weight: bold;
        color: #008b8b;
    }
    h3 {
        @apply text-lg;
        color: #008b8b;
    }   
}