.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.searchable-title {
    font-weight: bold;
}
.searchable-fields {
    padding-left:5px;
}
.searchable-link {
    padding:0 5px 0 5px;
}
.searchable-link:hover   {
    cursor: pointer;
    background: #eaeaea;
}
.select2-results__option {
    padding-left: 0px;
    padding-right: 0px;
}

.form-group .required::after {
    content: " *";
    color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
    display: block;
}

/* Accordion */
.badger-accordion__header .js-badger-accordion-header .badger-accordion-toggle {
    padding: 10px;
    padding-left: 20px;
    border-radius: 10px;
    background-color: darkcyan !important;
    color: white;
}

button[type="button"]{
    outline:none !important;
}

button[type="button"]::-moz-focus-inner {
    border: 0 !important;
}

.badger-accordion__header .js-badger-accordion-header .badger-accordion-toggle 
{
    outline:none !important;
    border: 0 !important;
}

.js-badger-accordion-panel-inner {
    margin-left: 15px;
}


/* HEADER */
.navbar {
    background-color: darkcyan;
}

/* CARD PRODUCT */
.param {
    margin-bottom: 7px;
    line-height: 1.4;
}
.param-inline dt {
    display: inline-block;
}
.param dt {
    margin: 0;
    margin-right: 7px;
    font-weight: 600;
}
.param-inline dd {
    vertical-align: baseline;
    display: inline-block;
}

.param dd {
    margin: 0;
    vertical-align: baseline;
} 

.shopping-cart-wrap .price {
    color: #008b8b;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    display: block;
}
var {
    font-style: normal;
}

.media img {
    margin-right: 1rem;
}
.img-sm {
    width: 90px;
    max-height: 75px;
    object-fit: cover;
}
.table-fit {
    width: 1px;
}
.btn-primary, .bg-primary {
    background: #008b8b !important;
}
a.navbar-brand, .navbar-brand, a.nav-link, .nav-link {
    color: white;
    text-decoration: none !important;
}




.bg-primary {
    background-color: #008b8b !important;
}

.bg-secondary {
    background-color: #006E6E !important;
}

.color-primary {
    color: #008b8b !important;
}

.cart-container {
    background-color: #008b8b;
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin-top: 15px;
}